/* CSS Pages Shared */
body{
    background-image: url("../images/codeBackground4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    width: auto;
    height: auto;
    background-color:black;
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav-wrapper{
    font-family: 'Monoton', cursive;
    background-color:white;
    height:100px;
    border-bottom: 35px solid black;
}

#nav, header{
    background-color:white;
    height:100px;
    
}

a.brand-logo.center{
    margin:auto;
    color:#4aaaa5;
    font-size: 2.75em; 
    letter-spacing: 7px; 
    font-weight: 590;
}

#nav-mobile, .navLink{
    color:white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 800;
    margin-top:25px;
}

#navbarImage{
    margin-top:3px;
    border-radius:50%;
    border:1px lightblue solid;
    max-height:95px;   
}

/* CSS Profile Page */

#carouselID{
    height: 500px;
    width: 600px;
    margin: 20px auto;
}
#galleryDiv{
    height:500px;
    width:550px;
    margin:20px auto;
    background-color:yellow;
    display:none;
}

.gallery{
    margin: 0px auto;
    position:relative;
    top: 10px;
}

#gallery{
    width: 100%;
    color:white;
    background-color:black;
}

.gImage{
    margin: 5px 20px;
    height: auto;
    width:235px;
    float:left;
}



#profile{
    height: 500px;
    width: 600px;
    margin: 20px auto;
    
}


/* Contact Card & Form */

#cardImage{
    padding:0px;
    margin-top:30px;
    margin-bottom:25px;
    margin-left: 20px;
    max-width:250px;
    float:left;
    border-radius:50%;
    border:5px lightblue solid;
}


div.card{
    max-width:550px;
    height:500px;
    margin: 20px auto;
    background-color:black;
}

div.card-content{
    background-color:white;
    height:200px;
  
}

#contactUL{
    float:right;
    color:white;
    margin-top:45px;
    margin-right: 20px;
}

form{
    color:  #4aaaa5;
    height: 400px;
}


input[type=submit]{
    background-color: #4aaaa5;
    padding: 15px 32px;
    color: white;
    border: 1.5px solid gray;
}

#message{
    margin: 10px auto;
    width:99.1%;
    height: 150px;
}


/* Responsiveness  */

@media screen and (max-width: 1289px) {
#profile img{
    width:550px;
    height:450px;
    margin-top: 19px;
    margin-left: 22px;
}
}

@media screen and (max-width: 977px) {
a.brand-logo.center{
    font-size: 2.5em; 
    letter-spacing: 1px;
    margin: 0px;  
}    
}

@media screen and (max-width: 740px) {
    a.brand-logo.center{
        font-size: 2em; 
        letter-spacing: 1px;
        margin: 0px;  }
        
}

@media screen and (max-width: 601px) {
    a.brand-logo.center{
        font-size: 1.75em; 
        letter-spacing: .5px;
        margin: 0px;  }
        
    }