#carouselID{
    height: 500px;
    width: 600px;
    margin: 20px auto;
}

#profile{
    height: 500px;
    width: 600px;
    margin: 20px auto;
    
}

body{
    background-image: url("../images/codeBackground4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    width: auto;
    height: 100%;
    background-color:black;
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav-wrapper{
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Monoton', cursive;
    background-color:white;
    height:100px;
    border-bottom: 35px solid black;
    /* #3fde57 */

    /* #4aaaa5; */
}

#nav, header{
    background-color:white;
    height:100px;
    
}

a.brand-logo.center{
    /* color:#696969; */
    margin:auto;
    color:#4aaaa5;
    font-size: 2.75em; 
    letter-spacing: 7px; 
    font-weight: 590;
}

#nav-mobile, .navLink{
    color:white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 800;
    margin-top:25px;
    
}

#navbarImage{
    margin-top:3px;
    border-radius:50%;
    border:1px lightblue solid;
    max-height:95px;
    
}
